projects/mac/build/**/*
samples/mac/01-Window-Creation/build/**/*
samples/mac/02-Displaying-A-Triangle/build/**/*
samples/mac/03-Using-Shaders/build/**/*
samples/mac/04-Loading-Obj-Files/build/**/*
samples/mac/05-Input-FPS-Camera/build/**/*
samples/mac/06-Fonts/build/**/*
*.o
*.hpp~
*.cpp~
.DS_Store
/projects/linux/liblavish.so
/projects/linux/Makefile~
*.pbxuser
*.mode1v3
samples/linux/01-Window-Creation/sample-01
samples/linux/02-Displaying-A-Triangle/sample-02
samples/linux/03-Using-Shaders/sample-03
samples/linux/04-Loading-Obj-Files/sample-04
samples/linux/05-Input-FPS-Camera/sample-05
samples/linux/06-Fonts/sample-06
tools/font-creator/font-tool

/samples/windows/01-Window-Creation/Debug
/samples/windows/02-Displaying-A-Triangle/Debug
/samples/windows/03-Using-Shaders/Debug
/samples/windows/04-Loading-Obj-Files/Debug
/samples/windows/05-Input-FPS-Camera/Debug
/samples/windows/06-Fonts/Debug
/projects/windows/lavish/Debug