projects/mac/build/**/*
samples/mac/01-Window-Creation/build/**/*
samples/mac/02-Displaying-A-Triangle/build/**/*
samples/mac/03-Using-Shaders/build/**/*
samples/mac/04-Loading-Obj-Files/build/**/*
*.o
*.hpp~
*.cpp~
.DS_Store
/projects/linux/liblavish.so
/projects/linux/Makefile~
*.pbxuser
*.mode1v3
